


.image-title {
	text-align: center;
}

.art-image {
	text-align: center;
}


.art-summary {
	font-weight: bold;
	text-align: center;
}

.art-description {
	font-family: "Cormorant Garamond", Georgia, Times New Roman, serif;
	font-size: larger;
}

.card-title {
	font-family: "Cormorant Garamond", Georgia, Times New Roman, serif;
	font-size: larger;
}

